.headerDetails {
    text-align: center;
}

.underlinedText {
    border-bottom: 1px solid gray;
}

.icon {
    float: right;
    color: #172547;
}

.statusButton {
    width: 90%;
    height:1cm;
}

.sortable:hover {
    cursor: pointer;
}

#statusFilter:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top:10px;
}